target/
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

node_modules/

dist
src/bindings.ts
# Yarn PnP files
.pnp.cjs
.pnp.loader.mjs
LSR-main

# Backup files
*.backup

# Bytecode files (for testing)
*.rmc

# build
*.log
.obj/*
build/*
!build/*
!.obj/*
!obj/*
obj/*

# CRumina
# other
!Terminal
Terminal
.git-pr
old.tar.zst
CRumina/all.cxx.src.md
CRumina/cxx.list.txt
CRumina/list-cxx
CRumina/fix
# build
# builtin
CRumina/src/builtin/build/*
CRumina/src/builtin/obj/*
CRumina/src/builtin/err.log
CRumina/src/builtin/term
CRumina/src/builtin/obj-build
# src
CRumina/src/obj/*
CRumina/src/build/*
CRumina/src/err.log
CRumina/src/obj-build
# debug
CRumina/src/debug.log
CRumina/src/builtin/debug.log
# crates obj
CRumina/crates/ruminac/src/obj/*
CRumina/crates/rmvm/src/obj/*
CRumina/crates/rmpack/src/obj/*
# crates debug
CRumina/crates/debug.log
